<html>
	<head><title><TMPL_VAR NAME=title></title></head>
	<body>
		<h1><TMPL_VAR NAME=title></h1>
		<p>
		<b>Error!!!</b><br/>
		<TMPL_VAR Name=errorMsg><br/>
		Database: <TMPL_VAR Name=database><br/>
		Host: <TMPL_VAR Name=host><br/>
		</p>
	</body>
</html>
