<html>
	<head><title>Machine Table</title></head>
	<body>
		<h1>Machine Table</h1>
		<p>
		Links: <a href=Summary.cgi>Summary</a> | <a href=Machine.cgi>Machine</a> | <a href=Build.cgi>Build</a> | <a href=Run.cgi>Run</a> | <a href=UnitTestCheck.cgi>UnitTestCheck</a> |
		<a href=FailedUnitSubTest.cgi>FailedUnitSubTest</a>
		</p>
		<table border=1>
		<tr>
			<td><b>ID</b></td>
			<td><b>Name</b></td>
			<td><b>Hardware</b></td>
			<td><b>OS</b></td>
			<td><b>Kernel</b></td>
		</tr>
		<TMPL_LOOP NAME=data>
		<tr>
			<td><a name=<TMPL_VAR NAME=ID>><TMPL_VAR NAME=ID></a></td>
			<td><TMPL_VAR NAME=Name></td>
			<td><TMPL_VAR NAME=Hardware></td>
			<td><TMPL_VAR NAME=OS></td>
			<td><TMPL_VAR NAME=Kernel></td>
		</tr>
		</TMPL_LOOP>
		</table>
	</body>
</html>
